.player1, .player2 {
	width: 50%;
	height: 90%;
	color: #FCFFE3;
	font-family: Helvetica;
	text-align: center;
	padding-top: 10%;
	position: relative;
}

.player1 {
	background: #FF5F5F;
	float: left;
}

.player2 {
	background: #6192F2;
	float: right;
}

#p1-name, #p2-name {
  font-size: 4vw;
}

#p1-points, #p2-points {
  font-size: 25vw;
  cursor: pointer;
}

#p1-games, #p2-games {
  position: absolute;
  top: 7%;
  font-size: 6vw;
}

#p1-games {
  left: 80%;
}

#p2-games {
  left: 12.5%;
}

.p1-back, .p2-back {
	padding-top: 3%;
	padding-bottom: 7%;
	font-size: 3vw;
	cursor: pointer;
}

.flipped .player1 {
	float: right;
}

.flipped .player2 {
	float: left;
}

.flipped #p1-games {
	left: 12.5%;;
}

.flipped #p2-games {
	left: 80%;
}


